 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title><%= title %></title>
    <% include includes/link-css %>
  </head>
  <% if(header && navbar){ %>
  	<% include includes/header %>
  	<% include includes/navbar %>
  <% } %>