      <div id="panel-settings" class="panel px-2 pt-4 hidden-md-up">
           <li>
             <a href="/update">
                 Account Settings
                 <i class="fa fa-angle-right py-2"></i>
             </a>
           </li>
           <li>
             <a href="/logout">
                 Sign Out
                 <i class="fa fa-angle-right py-2"></i>
             </a>
           </li>
       </div>

       <div id="panel-notification" class="panel px-2 pt-4 hidden-md-up notification-bar">
      
       </div>

