      <div id="panel-settings" class="panel px-2 pt-4 hidden-md-up">
           <li>
             <a href="#">
                 Account Settings
                 <i class="fa fa-angle-right py-2"></i>
             </a>
           </li>
           <li>
             <a href="#">
                 Sign Out
                 <i class="fa fa-angle-right py-2"></i>
             </a>
           </li>
       </div>

       <div id="panel-notification" class="panel px-2 pt-4 hidden-md-up">
           <li>
             <a href="#">
               <img src="https://unsplash.it/50/50" alt="" class="mr-3">
               <span><b>ashish_D_dev</b> liked your post.</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="https://unsplash.it/50/50" alt="" class="mr-3">
               <span><b>ashish_D_dev</b> liked your post.</span>
             </a>
           </li>
           <li>
             <a href="#">
               <img src="https://unsplash.it/50/50" alt="" class="mr-3">
               <span><b>ashish_D_dev</b> liked your post.</span>
             </a>
           </li>
           <div class="col-10 mx-auto mt-4" style="text-align:center;">
               <a href="#">See All Notifications</a>
           </div>
       </div>

