  <header>
        <a href="/home" class="site-logo mb-2"><span>Community Network</span></a>
        <span class="mx-3 links hidden-sm-down">
          <span class="search-box ml-5">
            <input type="hidden" name="sess_id" value="<%= session_id %>">
            <input type="search" name="search"  class="form-control searchUser" placeholder="Search" autocomplete="off">
            <i class="fa fa-search"></i>
            <div class="sub-panel sub-search">
              <p class="lead py-2 px-3" style="text-align:center;color:#a9a9a9;"><i class="fa fa-search mr-3"></i>Looking for someone</p>
            </div>
          </span>
          <a href="/profile/<%= session_id %>"><i class="fa fa-user-o"></i></a>
          <a href="#"><i class="fa fa-envelope-open-o"></i></a>
          <button id="sub-menu">
            <i class="fa fa-bell-o"></i>
            <div class="sub-panel">
              <ul>
                <li>
                  <a href="#">
                    <img src="https://unsplash.it/50/50" alt="" class="mr-3">
                    <b>ashish_d_dev</b> liked your photo. <i class="ml-2">12h</i>
                    <img src="https://unsplash.it/50/50" alt="" class="ml-5">
                  </a>
                </li>
              </ul>
            </div>
          </button>
        </span>
        <button class="btn-notification bg-btn hidden-md-up" style="font-size:1em;"><i class="fa fa-bell"></i></button>
        <button type="button" id="sub-menu" class="lg-setting bg-btn btn-lg-set hidden-sm-down mr-4">
          <i class="fa fa-th-large"></i>
          <div class="sub-panel">
             <a href="/update">Update Information</a>
             <a href="/logout">Sign out</a>
          </div>
        </button>
    </header>
