 <nav class="mobile-nav py-2 hidden-md-up">
        <a href="/" class="active"><i class="fa fa-home"></i></a>
        <a href="/profile/<%= user._id %>"><i class="fa fa-user"></i></a>
        <a href="/search" class="mx-4 search"><i class="fa fa-search"></i></a>
        <a href="/messages"><i class="fa fa-inbox"></i></a>
        <a href="#" class="btn-settings"><i class="fa fa-cog"></i></a>
    </nav>